body{
    background: lightgreen;
    text-align: center;
}
h1{
    background-color: white;
    color: blue;
    
}
#show_sketch{
    margin-left: 400px;
}
p{
    color: black;
    font-size: 20px;
    font-weight: 900px;
}
#sketchtodraw{
    color: red;
    font-size: 22px;
    font-weight: bold;
}
#score_span{
    margin-right: 600px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
#timer{
    margin-right: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}